* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body nav h1 {
  margin-top: 50px;
  font-size: 2em;
  text-decoration: underline;
}

body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}

body section button {
  margin: 25px 400px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 3px 3px 8px rgb(165, 158, 158);
}

body section button:hover {
  background-color: rgb(230, 230, 230);
}

.next-question-btn,
.start-over-btn {
  display: none;
}

#quiz-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  text-align: center;
  font-size: 25px;
  margin-bottom: 50px;
  text-shadow: 0.5px 0.5px;
}

.answer-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.answer-btns button {
  margin: 50px;
  padding: 25px 50px;
  font-size: 15px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

nav .timer {
  font-size: 2em;
  margin-top: 30px;
}
